.work-section {
    padding-top: 70px;
    padding-bottom: 70px;

}

.tab-section {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.tab-section ul {
    list-style: none;
}

.tab-section ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 17px;
    text-transform: capitalize;
    position: relative;
    padding: 15px 16px;
}

.tab-section ul li a:focus {
    color: #ffee5c;
}
.tab-section ul li a::after {
    content: "";
    width: 80%;
    height: 5px;
    background: radial-gradient(ellipse closest-side at 50% 50%, #ffee5c, rgba(255,255,255,0) 75%);
    position: absolute;
    bottom: 8px;
    left: 10%;
    z-index: 1;
    transition: all 0.5s;
    transform: scale(0);
}
.tab-section .active::after {
    content: "";
    width: 80%;
    height: 5px;
    background: radial-gradient(ellipse closest-side at 50% 50%, #ffee5c, rgba(255,255,255,0) 75%);
    position: absolute;
    bottom: 8px;
    left: 10%;
    z-index: 1;
    transition: all 0.5s;
    transform: scale(1);
}
.tab-section ul li a:hover::after {
    content: "";
    width: 80%;
    height: 5px;
    background: radial-gradient(ellipse closest-side at 50% 50%, #ffee5c, rgba(255,255,255,0) 75%);
    position: absolute;
    bottom: 8px;
    left: 10%;
    z-index: 1;
    transform: scale(1);
 
}

