.card-shodow{
    box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: none;
    color: white;
}
.about-slider-card{
    background: #2B2C30;
    /* color: white; */
}